html {
    font-size: 1rem;
}

body {
    margin: 0;
    height: 100%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    padding: 0.5rem;
    background: #ffffff;
    border: 1px solid #e9ecef;
}

.field.type-2 {
    display: flex;
}

.field.type-2 > label {
    margin: 0;
}

.developer-tech-token .p-dropdown {
    width: 6rem;
}

.p-dropdown.p-button-primary {
    background: #2196F3;
    border: 1px solid #2196F3;
}

.p-dropdown.p-button-primary > * {
    color: #ffffff !important;
}

.filter-label {
    width: auto;
}

.tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
